

.navbar{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #d1d5db;
  position:relative;
  height: 10%;
  width: 100%;
}
.logo{
    display: flex;
     top:0%;
    text-decoration: none;
  font-size: 10px;

}
.sysiz{
    display: inline-block;
    width: 50px; /* Adjust the width as needed */
    height: 50px;
    object-fit: cover; /* Ensures the entire image is displayed */
  border-radius: 50%;

}
.fbtext{
    font-size :1rem;
    font-weight: bold;
    top:10%;
    margin-bottom: 25px;
}


.navlist{
    display: inline-block;
    margin-left:  20px;
     font-size:16px;
      text-align: center;
    color:#333;
       border-radius: 5px;
    text-decoration: none;
}
.navitem{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: -25px;
}
.navtext{
    margin-left: 0.5rem;

}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
   justify-content: right;

    right:70px;

   top: 25%;

}



.NavDropdown.menu  {
    color: rgb(16 12 253 );
}